html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --blue: #002357;
}

body {
  color: white;
  background-color: var(--blue);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p,
label {
  font-size: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-transform: uppercase;
  background: white;
  border: 1px solid white;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button.large {
  font-size: 1.5rem;
}

button:hover {
  background: var(--blue);
  color: white;
}

button:disabled {
  color: white;
  border-color: white;
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}

textarea,
input[type="text"],
input[type="number"] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 1rem 0;
  transition: border-bottom 0.1s linear;
  font-family: "Montserrat", sans-serif;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
  outline: none;
}

textarea:focus,
textarea:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="number"]:focus,
input[type="number"]:active {
  border-bottom: 1px solid white;
}
::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}

input:-webkit-autofill {
  border: 0;
  border-bottom: 1px solid white;
  box-shadow: none;
  -webkit-box-shadow: inset 0 0 0px 9999px var(--blue);
}

.input-wrapper {
  display: flex;
  position: relative;
  margin-top: 1.25rem;
}

input {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem 0 0.5rem;
  width: 100%;
}

input.error {
  border: 1px solid #f26077;
  padding-left: 0.3rem;
}

label {
  position: absolute;
  top: 0;
  transition: transform 0.15s ease-out, color 0.15s ease-out;
  transform-origin: left;
  pointer-events: none;
}

label.focus {
  transform: translateY(-100%);
  color: white;
}
