<script lang="ts">
  import { authError, currentAccount, currentChain, requestAccountsPending } from '../stores'
  import { connectWallet, handleAccountsChanged, handleChainChanged, checkChainId } from '../utils/auth'

  let loading = false

  checkChainId()

  ethereum.on('accountsChanged', handleAccountsChanged)
  ethereum.on('chainChanged', handleChainChanged)

</script>

{#if !$currentAccount && !loading}
  <button
    on:click={connectWallet}
    disabled={$requestAccountsPending}
  >
    Connect
  </button>
{:else}
  <div id="connection">
    <p>{$currentAccount}</p>
    <p>Connected to {$currentChain}</p>
  </div>
{/if}

{#if $authError}
  <p id="error">{$authError}</p>
{/if}

<style>
  #connection {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  p {
    margin: 0;
  }

  #error {
    color: #d00;
  }
</style>
