<script lang="ts">
  import Big from 'big.js'
  import Input from './Input.svelte'
  import type { Recipient } from '../types'

  let total = Big(1)
  let recipients: Recipient[] = [
    {
      address: '',
      amount: new Big(0.5),
      percent: new Big(50),
    },
    {
      address: '',
      amount: new Big(0.5),
      percent: new Big(50),
    },
  ]

  function syncToTotal (value: number) {
    const current = new Big(value)
    total = current

    for (let i = 0; i < recipients.length; i++) {
      recipients[i].amount = current.mul(recipients[i].percent).div(100)
    }
  }

  function syncToAmount (value: number, oldValue: number, index: number) {
    const prev = Big(oldValue)
    const current = Big(value)

    recipients[index].amount = current

    const diff = current.minus(prev)
    total = total.plus(diff)

    recipients[index].percent = current.div(total).mul(100)

    for (let i = 0; i < recipients.length; i++) {
      if (i !== index) {
        let { amount } = recipients[i]
        recipients[i].percent = amount.div(total).mul(100)
      }
    }
  }

  function syncToPercent (value: number, index: number) {
    const percent = Big(value)

    recipients[index].percent = percent
    recipients[index].amount = total.mul(percent).div(100)

    const remainingPercent = total.sub(recipients[index].amount).mul(100).div(total)

    for (let i = 0; i < recipients.length; i++) {
      if (i !== index) {
        recipients[i].percent = remainingPercent.div(recipients.length - 1)
        recipients[i].amount = recipients[i].percent.mul(total).div(100)
      }
    }
  }

  function addRecipient () {
    const percent = total.mul(100).div(recipients.length + 1)
    const amount = total.mul(percent).div(100)
    recipients = [...recipients, { address: '', amount, percent }]

    syncToPercent(percent.toNumber(), recipients.length - 1)
  }

</script>

<form>
  <div class="total">
    <Input
      type="number"
      id="total"
      label="How much do you want to send?"
      value={total.toNumber()}
      on:input={({ detail }) => syncToTotal(detail.event.target.value)}
    />
    <span>ETH</span>
  </div>

  {#each recipients as recipient, i}
    <div class="recipient">
      <Input
        type="text"
        id={`address_${i}`}
        label="Address"
        bind:value={recipient.address}
        on:change={event => console.log(event)}
      />
      <Input
        type="number"
        id={`percent_${i}`}
        label="Percent"
        value={recipient.percent.toFixed(2)}
        on:input={({ detail }) => syncToPercent(detail.event.target.value, i)}
        percent
      />
      <Input
        type="number"
        id={`amount_${i}`}
        label="Amount"
        value={recipient.amount.toNumber()}
        on:input={({ detail }) => syncToAmount(detail.event.target.value, detail.oldValue, i)}
      />
    </div>
  {/each}

  <button on:click={addRecipient} type="button">
    Add recipient
  </button>
</form>

<style>
  form {
    width: 100%;
  }

  .total {
    display: flex;
    flex-direction: row;
  }

  .total :global(.input-wrapper) {
    width: 30%;
  }

  .total span {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .recipient {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
  }

  .recipient :global(.input-wrapper) {
    width: 100%;
  }

  .recipient :global(.number) {
    max-width: 9rem;
  }

  .recipient :global(.percent) {
    max-width: 4rem;
  }
</style>
