<script lang="ts">
  import { createEventDispatcher } from 'svelte'

  export let label = ''
  export let type = "text"
  export let id: string
  export let placeholder = ''
  export let defaultValue = type === 'text' ? '' : 0
  export let required = false
  export let maxlength = 50
  export let valid = true
  export let autocomplete = ''
  export let value = defaultValue
  export let percent: boolean = false

  let hasFocus: boolean
  let oldValue: number | string

  const dispatch = createEventDispatcher()

  const onFocusOut = () => dispatch('focusOut', value)
  const onKeydown = (event: Event) => dispatch('keydown', { event, value })
  const onInput = (event: Event) => {
    dispatch('input', { event, oldValue })
    oldValue = value
  }

  const focus = () => {
    oldValue = value
    hasFocus = true
  }
  const focusOut = () => {
    hasFocus = false
    onFocusOut()
  }

</script>

<div class="input-wrapper" class:percent class:number={type === 'number'}>
  {#if label}
    <label for={id} class={hasFocus || value != null ? 'focus' : ''}>{label}</label>
  {/if}

  {#if type === 'text'}
    <input
      {id}
      bind:value
      type="text"
      class={!valid ? 'error' : ''}
      {placeholder}
      {autocomplete}
      {required}
      {maxlength}
      on:focus={focus}
      on:blur={() => focusOut()}
      on:keydown={event => onKeydown(event)}
      on:input={event => onInput(event)}
    />
  {:else}
    <input
      {id}
      bind:value
      type="number"
      class:error={!valid}
      {placeholder}
      {autocomplete}
      {required}
      min={percent ? 1 : 0}
      max={percent ? 99.99 : undefined}
      on:focus={focus}
      on:blur={() => focusOut()}
      on:keydown={event => onKeydown(event)}
      on:input={event => onInput(event)}
    />
  {/if}
</div>

