<script>
  export let color ="#fff"

</script>

<svg xmlns="http://www.w3.org/2000/svg" width="14.617" height="14.617" viewBox="0 0 14.617 14.617">
  <path id="Path_2332" data-name="Path 2332" d="M7.059,966.518a.488.488,0,0,1-.487-.487v-6.085H.487a.487.487,0,0,1,0-.974H6.572v-6.085a.487.487,0,1,1,.974,0v6.085h6.085a.487.487,0,0,1,0,.974H7.546v6.085A.488.488,0,0,1,7.059,966.518Z" transform="translate(0.25 -952.15)" fill={color} stroke={color} stroke-width="0.5"/>
</svg>
