<script lang="ts">
  import AuthWrapper from './components/AuthWrapper.svelte'
  import Form from './components/Form.svelte'
  import detectEthereumProvider from '@metamask/detect-provider'
  import { onMount } from 'svelte'

  let ethereumInitialised: boolean
  let provider: any
  let providerError: string;

  function initializeEthereum () {
    ethereumInitialised = true

    if (provider !== ethereum) {
      // TODO: Show message to user
      // TODO (later): Detect/support other wallets
      console.error('Provider is not MetaMask. Do you have multiple wallets installed?')
    }
  }

  onMount(async () => {
    provider = await detectEthereumProvider()

    if (provider) initializeEthereum()
    else providerError = 'Please install MetaMask' // TODO: MetaMask onboarding
  })

</script>

<svelte:head>
  <title>Divai</title>
</svelte:head>

<div id="app">
  <div id="header">
    <h1>Divai</h1>

    {#if ethereumInitialised}
      <AuthWrapper />
    {/if}

    {#if providerError}
      <p>{providerError}</p>
    {/if}
  </div>

  <div id="content">
    <Form />
  </div>
</div>


<style>
  #app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  #header h1 {
    margin: 0 auto 0 0;
  }

  #content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
  }
</style>

